@model List<MoneyFlow.Models.ServiceVM>
@{
}

<div class="row align-items-center mb-4">
    <div class="col-sm-6">
        <h2>Services</h2>
    </div>
    <div class="col-sm-6 text-end">
        <a href="/Service/New" class="btn btn-success"><i class="bi bi-plus-circle"></i> Nuevo Servicio</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Type</td>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Type</td>
                        <td>
                            <a asp-controller="Service"
                               asp-action="Edit"
                               asp-route-id="@item.ServiceId"
                               class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i> Editar</a>
                            <button class="btn btn-danger btn-sm" onclick="deleteItem(@item.ServiceId)"><i class="bi bi-trash"></i> Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script>
        function deleteItem(serviceId){
            @*if(confirm("¿Está seguro de que desea eliminar este servicio?")) {
                
            }*@
        

        Swal.fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!"
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = '@Url.Action("Delete", "Service")' + '?id=' + serviceId;
            Swal.fire({
              title: "Deleted!",
              text: "Your file has been deleted.",
              icon: "success"
            });
          }
        });
        }
    </script>
    
}


